#mid_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#list_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon2 {
  font-size: 50px;
}

#writing_date {
  display: flex;
  justify-content: center;
  color:darkred;
}

#writing_title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#little_title {
  display: inline;
}

#title_sticker {
  display: inline;
}
.title_sticker {
  width: 80px;
  height: 80px;
  padding: 0 0 0 20px;
}

#writing_container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#paint_area {
  display: inline;
  /* border: 1px solid black; */
  background-color: rgb(162, 168, 255);
  width: 550px;
  height: 400px;
  margin:0;
  padding: 0;
}

#write_area {
  display: inline;
  background-color:rgb(126, 202, 200) !important;
  width: 550px;
  height: 400px;
  padding: 0 !important;
}

#btn_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#cancle_btn .MuiSvgIcon-root, #save_btn .MuiSvgIcon-root {
  font-size: 2.3rem;
}
#cancle_btn {
  margin-right: 30px;
}
#cancle_btn:hover {
  color: darkorange;
  cursor: pointer;
}

#save_btn {
  margin-left: 30px;
}

#save_btn:hover {
  color: darkorange;
  cursor: pointer;
}

.write_area{
  width: 550px;
  height: 400px;
  background-color:rgb(126, 202, 200);  
  display: flex;
  align-items: center;
  justify-content: center;
}

.writing-board{
  width: 100%;
  text-align: center;
  word-break: break-all;
  max-height: 100%;
  overflow: auto;
  outline: none;
  border: none;
  font-size: 25px;
}