.icon2 {
  font-size: 50px;
}

#writing_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paint_area {
  display: inline;
  border: 1px solid black;
  background-color: rgb(252, 243, 246);
  width: 550px;
  height: 400px;
}

#write_area {
  display: inline;
  background-color: none;
  width: 550px;
  height: 400px;
}
