#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month_box_container {
    display: flex;
    width: 990px;
    height: 150px;
}
.month_box_container .calendar-item {
    /* display: inline-block; */
    border: 1px solid rgb(243, 243, 243); 
    flex:1;
    padding-top: 10px;
    padding-left: 15px;
}

.month_box_container .calendar-item span.title{
    font-size: 40px;
    color:darkgrey;
    cursor: pointer;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.month_box_container .calendar-item span.title:hover{ 
    color:rgb(252, 169, 76);
}

.monthIcon {
    cursor: pointer;
}

/* .first-floor span.title{
    color: red;
    height: 40px;
} */

#year_row {
    margin-top: 50px;
}

#year_row span {
    padding: 0 15px 0 15px;
}

/* .title {
    margin-top: 20px;
} */

.sticker {
    margin-top: 50px;
}

