#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month_box_container {
    display: flex;
    width: 990px;
    height: 150px;
}
.month_box_container .calendar-item {
    /* display: inline-block; */
    border: 1px solid rgb(23, 24, 27); 
    flex:1;

    /* padding-top: 10px; */
}

.month_box_container .calendar-item span.title{
    font-size: x-large;
    margin-top: 10px;

    margin-bottom: 10px;
}

.first-floor span.title{
    color: red;
}

.first-floor p.title{
    color: blue;
    font-size: 24px;
    margin-bottom: 10px;
}

/* .month_box {
    display: inline-block;
    border: 1px solid rgb(23, 24, 27); 
    width: 330px;
    height: 150px;
    font-weight: bolder;
    font-size:x-large;
    color:slategrey;
} */

#year_row {
    margin-top: 50px;
}

