#container {
    display: flex;
    flex-direction: column;
}

.month_box_container {
    display: flex;
    width: 990px;
    height: 600px;
}
.month_box {
    display: inline-block;
    border: 1px solid rgb(23, 24, 27); 
    width: 330px;
    height: 200px;
}