#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month_box_container {
    display: flex;
    width: 990px;
    height: 150px;
}
.month_box_container .calendar-item {
    /* display: inline-block; */
    border: 1px solid rgb(23, 24, 27); 
    flex:1;
    /* padding-top: 10px; */
}

.month_box_container .calendar-item .title{
    
}

span {
    font-weight: bolder;
    font-size: 30px;
    color:slategrey;
    /* padding-top: 40px; */

}

/* .month_box {
    display: inline-block;
    border: 1px solid rgb(23, 24, 27); 
    width: 330px;
    height: 150px;
    font-weight: bolder;
    font-size:x-large;
    color:slategrey;
} */

#year_row {
    margin-top: 50px;
}

span {
    margin-left: 20px;
    margin-right: 20px;
}