#write_date {
    font-weight: bolder;
    font-size: 25px;
    color:firebrick;
}

.inputBox {
    display:flex;
    flex-direction: column;
}

input {
    width: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    background-color: floralwhite;
}

input[placeholder] {
    text-align: left;
    font-size: 90%;
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    width: 100%;
}