#write_date {
    font-weight: bolder;
    font-size: 25px;
    color:firebrick;
    margin-bottom: 20px;
}

.inputBox {
    display:flex;
    flex-direction: column;
    margin-bottom: 50px;
}

input {
    width: 500px;
    margin: 0;
    padding: 0 0 0 10px;
}

input[placeholder] {
    text-align: left;
    font-size: 90%;
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    width: 300px;
    background-color: ghostwhite;
    margin-top: 10px;
    outline: none;
    /* overflow: hidden; */
}

input:hover {
    border-bottom: orange !important;
}

.icon {
    font-size: 20px;
    padding: 0 20px 0 20px;
    /* transition-duration: 5s; */
}

.icon:hover {
    /* transform: rotate(0.1turn) ; */
    /* transition-duration: 5s; */
}

#btnbox {
    margin-top: 70px;
}

#cancle_btn {
    margin-right: 20px;
}

#next_btn {
    margin-left: 20px;
}

.MuiInput-underline:before {
    border-bottom: none !important;
}
