#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month_box_container {
    display: flex;
    width: 990px;
    height: 150px;
}
.month_box {
    display: inline-block;
    border: 1px solid rgb(23, 24, 27); 
    width: 330px;
    height: 150px;
}

#year_row {
    margin-top: 50px;
}

span {
    margin-left: 20px;
    margin-right: 20px;
}